html {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  position: relative !important;
}

header {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../img/wolverine/KWJcW4m.jpg);
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse, .navbar-brand {
  text-align: center;
}

.navbar-default {
  background: transparent !important;
  border-color: transparent!important;
  padding: 1em 2em;
}

/*hamburger*/

.icon-bar {
  background-color: #0765b2 !important;
}

.navbar-default a {
  color: black !important;
  text-transform: uppercase;
}

.navbar-default li a:hover {
  color: white !important;
  background-color: #0765b2 !important;
}

.navbar-default li a:focus {
  color: white !important;
}

.navbar-default li a:active {
  color: white !important;
}

.navbar-default .navbar-nav .active a {
  color: #0765b2 !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle button, .navbar-default .navbar-toggle button:hover {
  border-color: transparent !important;
  background-color: transparent !important;
}

.navbar-brand {
  font-family: 'Reem Kufi', sans-serif !important;
  color: white !important;
  font-size: 2em !important;
  font-weight: bolder!important;
}

.navbar-nav {
  font-size: .8em !important;
}

.dropdown-menu a {
  color: black !important;
  font-size: .8em !important;
}

.dropdown-toggle a:focus, {
  background-color: none !important;
}

.input-group button {
  background-color: none !important;
  border-color: transparent !important;
}

.input-group button:hover {
  background-color: none !important;
  border-color: transparent !important;
}

.navbar {
  position: fixed;
  z-index: 999;
}

.container-row {
  width: 75% !important;
  margin: 0 auto;
  color: black !important;
}

#presentation h1, #bio h1, #photographies h1, #goodies h1, #contactUs h1 {
  color: black !important;
  font-family: 'Reem Kufi', sans-serif !important;
  text-transform: uppercase;
  font-weight: bold!important;
  letter-spacing: 0.05em;
  border-left: #0765b2 solid thick;
  padding: 15px;
}

#presentation h4 {
  color: #0765b2 !important;
  font-family: 'Reem Kufi', sans-serif !important;
  text-transform: uppercase;
  font-weight: bold!important;
}

#presentation p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Reem Kufi', sans-serif !important;
}

#bio img {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

#bio h4 {
  text-transform: uppercase;
  color: #0765b2 !important;
}

#bio p {
  font-family: 'Reem Kufi', sans-serif !important;
  text-align: justify;
  padding: 15px;
  font-size: 18px;
}

@media screen and (max-width: 1060px) {
  .col-md-8 {
    width: 100% !important;
  }
}

/*darkblue text*/

.red {
  color: #0765b2 !important;
}

.red p {
  font-size: 1.2em;
  font-family: 'Reem Kufi', sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

header h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  white-space: nowrap;
  font-size: 12vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 50em) {
  header h1 {
    font-size: 15vw;
  }
}

header p {
  font-size: 1.5em;
  font-family: 'Reem Kufi', sans-serif !important;
  color: black !important;
  text-align: center;
  text-transform: uppercase;
}

header .main-button {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.container-yellow {
  background-color: #0765b2 !important;
  width: 100%;
  height: 160px;
}

.container-yellow h4 {
  padding: 5px;
  color: black !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold !important;
}

.container-yellow .col-12.col-md-4 {
  text-align: center;
}

@media screen and (min-width:980px) {
  .container-yellow {
    height: 75px;
  }
  .container-yellow .col-12.col-md-4 {
    margin: 10px auto;
  }
}

.btn.btn-primary.black {
  color: black !important;
  margin: 10px 2px;
  border-radius: 0px !important;
  border-color: #F4FF40 !important;
  background-color: #F4FF40 !important;
  text-transform: uppercase;
}

.btn.btn-primary {
  font-family: 'Reem Kufi', sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0765b2 !important;
  border-radius: 0 !important;
  border-color: #0765b2 !important;
}

.filter-button button {
  font-family: 'Reem Kufi', sans-serif !important;
  font-size: 20px;
  margin: 2px 0px;
  background-color: yellow !important;
  border-radius: 0 !important;
  border-color: transparent!important;
  padding: 10px;
}

.filter-button button:hover, .filter-button button:focus {
  background: #0765b2 !important;
  padding: 10px;
  border-color: transparent !important;
  text-shadow: none !important;
}

img {
  width: 130px;
  height: 180px;
  margin: 10px 5px;
  border: 1px solid black !important;
}

hr {
  border: .5px solid #777474 !important;
  width: 100%;
  margin: 10px 0 25px 0 !important;
  !important;
  padding: 0;
}

footer {
  background-color: #2d2d2d;
  padding: 20px;
  text-align: center;
}

footer h5 {
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  color: white !important;
  font-weight: bold;
}

footer .subscribe input {
  width: 300px;
  border-radius: 0 !important;
  margin: 5px auto;
}

footer .subscribe button {
  margin: 5px auto;
}

footer .connect-social li {
  padding: 5px;
  margin: 5px;
  display: inline;
  border: white thin solid;
}

footer .usefulLinks {
  text-transform: lowercase;
  color: white;
}

footer .usefulLinks a {
  text-decoration: none;
  color: yellow;
}

footer li a i {
  color: white;
  width: 15px;
  height: 15px;
}

.connect-social ul {
  margin-left: -40px !important;
}

.connect-social p {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
}

#goodies h1 {
  margin-left: 80px;
}

#goodies .row {
  margin: 30px;
}

#goodies .right {
  margin: 0 auto !important;
  background-color: #0765b2 !important;
  height: 100%;
  color: white !important;
}

#goodies .right h4 {
  text-align: center;
  font-family: 'Reem Kufi', sans-serif !important;
  font-size: 2em !important;
  text-transform: uppercase;
  color: yellow !important;
  font-weight: bold;
}

#goodies .right p {
  text-align: center;
  font-family: 'Reem Kufi', sans-serif !important;
}

.imageC {
  text-align: center;
}

.inPut {
  text-align: center;
}

#goodies input {
  color: black !important;
  margin-bottom: 15px;
  width: 5em;
  text-align: center;
}

#goodies button {
  width: 5em;
  background: transparent!important;
  border-color: transparent !important;
  color: white !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#descriptionShop {
  font-size: 1.5em !important;
  color: yellow !important;
}

/*pop-ups windows ____________________________________________*/

.modal-header {
  text-align: center;
  text-transform: uppercase !important;
  font-family: 'Reem Kufi', sans-serif !important;
  font-size: 18px;
}

.modal-header h4 {
  color: #0765b2 !important;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-header p {
  color: black !important;
  text-align: left;
}

.modal-header input {
  padding: 5px;
  margin: 10px;
}

.modal-body {
  text-align: center;
}

.modal-body input {
  padding: 5px;
  margin: 10px;
}

.modal-body p {
  color: black !important;
  margin: 0 !important;
}

.modal-footer button {
  font-weight: bold;
  color: white !important;
  text-transform: uppercase;
  background-color: #0765b2 !important;
  border-radius: 0 !important;
  border-color: transparent!important;
  padding: 10px;
}

#imagemodal .modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

#imagemodal .modal-content img {
  text-align: center;
  height: 100%;
  width: 100%;
  border: 5px solid black !important;
}

@media screen and (min-width:760px) {
  .navbar-brand {
    margin-left: 530px;
  }
}

#buttonScroll {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  color: black;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  padding: 15px;
}

@media only screen and (max-width: 1000px) {
  .row.all {
    display: flex;
    flex-direction: column;
  }
  #imgone {
    order: 2;
  }
  #chapter {
    order: 1;
  }
}