body {
  margin: 0;
  padding: 0;
  color: white !important;
  position: relative !important;
}

.first-page {
  font-family: 'Open Sans', sans-serif !important;
}

.navbar-default {
  background: transparent !important;
  border-color: transparent!important;
  padding: 1em 2em;
}

.icon-bar {
  background-color: red !important;
}

.navbar-default a {
  color: white !important;
  text-transform: uppercase;
}

.navbar-default li a:hover {
  background-color: red !important;
}

.navbar-default .navbar-nav .active a {
  color: red !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle button, .navbar-default .navbar-toggle button:hover {
  border-color: transparent !important;
  background-color: transparent !important;
}

.navbar-brand {
  font-size: 2em !important;
  font-weight: bolder!important;
}

.navbar-nav {
  font-size: .8em !important;
}

.dropdown-menu a {
  color: black !important;
  font-size: .8em !important;
}

.input-group button {
  background-color: none !important;
  border-color: transparent !important;
}

.input-group button:hover {
  background-color: none !important;
  border-color: transparent !important;
}

.navbar-form input {
  width: 200px;
  background-color: black !important;
  opacity: 0.5;
  border-radius: 15px;
  border-color: transparent !important;
}

.first-container {
  background-image: url(../img/me-before-you.jpg);
  background-size: cover;
  background-position: center center;
  background-color: black;
  background-blend-mode: screen;
}

.jumbotron {
  padding: 0 !important;
  margin-left: 0 !important;
  background-color: transparent !important;
  width: 100%;
  height: 100%;
}

.red {
  color: red !important;
}

.slide1, .slide2, .slide3 {
  width: 100vw;
  height: auto;
  background-size: cover;
  background-position: center center;
}

.slide1 {
  background-image: url(../img/me-before-you.jpg);
}

.slide2 {
  background-image: url(../img/zoolander.jpg);
}

.slide3 {
  background-image: url(../img/me-before-you.jpg);
}

.slide4 {
  background-image: url(../img/me-before-you.jpg);
}

.carousel-indicators .active {
  width: 20px !important;
  height: 5px !important;
  background-color: red !important;
  border-radius: 0 !important;
  border-color: red !important;
}

.carousel-indicators .active:hover {
  width: 20px !important;
  height: 5px !important;
  background-color: red !important;
  border-radius: 0 !important;
  border-color: red !important;
}

.carousel-indicators li {
  width: 20px !important;
  height: 5px !important;
  border-radius: 0 !important;
  background-color: lightgrey !important;
  margin: 0 !important;
  border-color: lightgrey !important;
}

.carousel-indicators li:hover {
  width: 20px !important;
  height: 5px !important;
  border-radius: 0 !important;
  background-color: lightgrey !important;
  margin: 0 !important;
  border-color: lightgrey !important;
}

.container-red {
  background-color: red;
  width: 100vw;
  height: 50px;
}

.container-red p {
  margin-left: 50px;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.container-fluid h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.container-fluid p {
  text-transform: uppercase;
  font-size: 10px !important;
  font-weight: lighter !important;
  font-stretch: condensed;
}

.btn.btn-primary.black {
  margin: 10px 2px;
  background-color: black !important;
  border-radius: 0 !important;
  border-color: black !important;
  text-transform: uppercase;
}

.btn.btn-primary {
  text-transform: uppercase;
  margin: 10px;
  background-color: red !important;
  border-radius: 0 !important;
  border-color: red !important;
}

footer {
  background-color: rgb(73, 70, 70);
}

.slideshow {
  margin: 50px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
}

.slideshow>div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

img {
  width: 100px;
  height: 140px;
  margin: 10px 15px;
}

#featuredMovies h1, #featuredSeries h1, #shopMovies h1, #contactUs h1 {
  color: black !important;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif !important;
  border-left: thick solid #ff0000 !important;
  font-stretch: condensed;
}

.row-narrow {
  margin: 0 auto !important;
  width: 75% !important;
}