body, table {
    font-family:"Helvetica Neue",Helvetica,verdana,corbel;
    font-size:12px;
}

.content {
    width: 300px;
}
#scrollToTop a{
    background-image: url("http://www.cstb.fr/dae/fileadmin/default/templates/images/Back_to_Top.png");
    background-repeat: no-repeat;
    bottom: 10px;
    height: 51px;
    position: fixed;
    right: 101px;
    text-indent: -50000px;
    width: 57px;
}
